@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #e2e8f0 transparent;
}

.dark .custom-scrollbar {
    scrollbar-color: #334155 transparent;
}